/**
 *  If you want to override some bootstrap variables, you have to change values here.
 *  The list of variables are listed here bower_components/bootstrap-sass-official/assets/stylesheets/bootstrap/_variables.scss
 */

@import "../material/_custom/colors";

@import "../material/_material/common";
@import "../material/_material/shadows";
@import "../material/_material/ripples";

@import "../material/_material/cards";
//@import "../material/_material/buttons";
//@import "../material/_material/inputs";
@import "../material/guidelines";

@import "login/login";
//@import "admin/client/client-regions/client-dashboard";
@import "components/client-navbar/client-navbar";


$navbar-inverse-link-color: #5AADBB;
$icon-font-path: "../../bower_components/bootstrap-sass-official/assets/fonts/bootstrap/";

/**
 *  Do not remove this comments bellow. It's the markers used by wiredep to inject
 *  sass dependencies when defined in the bower.json of your dependencies
 */
// bower:scss
// endbower
.padding_fix{
  padding: 0;
}
.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

.thumbnail {
  height: 200px;

  img.pull-right {
    width: 50px;
  }
}

//.table > tbody > tr > td.padding_fix{
//  padding: 0;
//}
.table > thead > tr > th.padding_fix,
.table > thead > tr > td.padding_fix,
.table > tbody > tr > th.padding_fix,
.table > tbody > tr > td.padding_fix,
.table > tfoot > tr > th.padding_fix,
.table > tfoot > tr > td.padding_fix {
  padding: 0;

}
#login_navbar {
  color: #fff;
}
#login_navbar:hover {
  color: #fff;
}
#logo {
  color: #fff;
  padding-left: 30px;
  font-size: 2.3em;
}
#logo:before{
  display: block;
  float: left;
  content: '';
  background: url(../assets/images/spravu_logo.png) no-repeat;
  width: 2.5em;
  height: 1.5em;
  margin-right: -0.9em;
  margin-top: -10px;

}

//#client_nav {
//  background-color: #4a0549;
//}



/**
 *  Do not remove this comments bellow. It's the markers used by gulp-inject to inject
 *  all your sass files automatically
 */
// injector
// endinjector
