<nav id="client_nav" class="navbar navbar-default navbar-fixed-top " style="background-color: #4a0549">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href>
                <img alt="Brand" src="./assets/images/spravu_logo.png">
            </a>
        </div>
        <div id="navbar_monitoring" class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li ><a ng-href="#/client/monitoring/">Області</a></li>
                <li><a ng-href="#/client/monitoring/region">Райони</a></li>
                <li><a ng-href="#/client/monitoring/city">Міста</a></li>
                <li><a ng-href="#/client/monitoring/village">Села</a></li>
                <li><a ng-href="#/client/monitoring/presence">Явка</a></li>
            </ul>

            <div style="padding-right: 20px">
                <a ng-href="/" type="button" class="btn btn-default navbar-btn navbar-right">Вийти</a>
            </div>
        </div>
    </div>
</nav>