<div class="styles-block">
    @@include('guidelines/color_blocks.html')
</div>
<div class="styles-block">
    @@include('guidelines/navbars.html')
</div>
<div class="styles-block">
    @@include('guidelines/buttons.html')
</div>
<div class="styles-block">
    @@include('guidelines/typography.html')
</div>
<div class="styles-block">
    @@include('guidelines/custom_font.html')
</div>
<div class="styles-block">
    @@include('guidelines/tables.html')
</div>
<div class="styles-block">
    @@include('guidelines/forms.html')
</div>
<div class="styles-block">
    @@include('guidelines/navs.html')
</div>
<div class="styles-block">
    @@include('guidelines/pagination.html')
</div>
<div class="styles-block">
    @@include('guidelines/labels.html')
</div>
<div class="styles-block">
    @@include('guidelines/badges.html')
</div>
<div class="styles-block">
    @@include('guidelines/alerts.html')
</div>
<div class="styles-block">
    @@include('guidelines/progress.html')
</div>
<div class="styles-block">
    @@include('guidelines/list_group.html')
</div>
<div class="styles-block">
    @@include('guidelines/panels.html')
</div>
<div class="styles-block">
    @@include('guidelines/cards.html')
</div>
<div class="styles-block">
    @@include('guidelines/modals.html')
</div>