<div class="page-header">
	<h1>Buttons</h1>
</div>

<div class="row">
<!-- 	<div class="col-lg-12">
		<h3 class="block-title">States</h3>
		<button type="button" class="btn btn-primary">Normal</button>
		<button type="button" class="btn btn-primary hovered">Hovered</button>
		<button type="button" class="btn btn-primary focused">Focused</button>
		<button type="button" class="btn btn-primary pressed">Pressed</button>
		<button type="button" class="btn btn-primary disabled">Disabled</button>
	</div> -->
	<div class="col-lg-12">
		<h3 class="block-title">Sizing</h3>
		<button type="button" class="btn btn-primary btn-lg">Large button</button>
		<button type="button" class="btn btn-primary">Default button</button>
		<button type="button" class="btn btn-primary btn-sm">Small button</button>
		<button type="button" class="btn btn-primary btn-xs">Extra-small button</button>
	</div>
	<div class="col-lg-12">
		<h3 class="block-title">Colors</h3>
		<button type="button" class="btn btn-default">Default</button>
		<button type="button" class="btn btn-primary">Primary</button>
		<button type="button" class="btn btn-success">Success</button>
		<button type="button" class="btn btn-info">Info</button>
		<button type="button" class="btn btn-warning">Warning</button>
		<button type="button" class="btn btn-danger">Danger</button>
		<button type="button" class="btn btn-link">Link</button>
	</div>
</div>
