<div class="page-header">
    <h1>Cards</h1>
</div>

<div class="row">
	<div class="col-xs-12 col-sm-4 col-md-3 col-lg-3">
		<div class="card">
			<img src="http://placehold.it/350x150" class="img-responsive" />
			<div class="card_content">
				"Here is an example of card content. Just to show you how this block should look like."
			</div>
		</div>
	</div>
	<div class="col-xs-12 col-sm-4 col-md-3 col-lg-3">
		<div class="card">
			<img src="http://placehold.it/350x150" class="img-responsive" />
			<div class="card_content">
				"Here is an example of card content. Just to show you how this block should look like."
			</div>
		</div>
	</div>
	<div class="col-xs-12 col-sm-4 col-md-3 col-lg-3">
		<div class="card">
			<img src="http://placehold.it/350x150" class="img-responsive" />
			<div class="card_content">
				"Here is an example of card content. Just to show you how this block should look like."
			</div>
		</div>
	</div>
	<div class="col-xs-12 col-sm-4 col-md-3 col-lg-3">
		<div class="card">
			<img src="http://placehold.it/350x150" class="img-responsive" />
			<div class="card_content">
				"Here is an example of card content. Just to show you how this block should look like."
			</div>
		</div>
	</div>
</div>