<div class="page-header">
    <h1>Colors</h1>
</div>
<h3 class="block-title">Gray palette</h3>
<div class="row gray-palette">
    <div class="col-lg-2 text-center">
        <div class="gray-base clearfix">
            <p>$gray-base</p>
        </div>
    </div>
    <div class="col-lg-2 text-center">
        <div class="gray-darker clearfix">
            <p>$gray-darker</p>
        </div>
    </div>
    <div class="col-lg-2 text-center">
        <div class="gray-dark clearfix">
            <p>$gray-dark</p>
        </div>
    </div>
    <div class="col-lg-2 text-center">
        <div class="gray clearfix">
            <p>$gray</p>
        </div>
    </div>
    <div class="col-lg-2 text-center">
        <div class="gray-light clearfix">
            <p>$gray-light</p>
        </div>
    </div>
    <div class="col-lg-2 text-center">
        <div class="gray-lighter clearfix">
            <p>$gray-lighter</p>
        </div>
    </div>
</div>
<h3 class="block-title">Color palette</h3>
<div class="row show-modal">
    <div class="col-lg-2 text-center">
        <div class="color-block default clearfix">
            <div class="first col-lg-12">
                $default
            </div>
            <div class="second col-lg-6">
                <p>< 25%</p>
            </div>
            <div class="third col-lg-6">
                <p>< 65%</p>
            </div>
        </div>
        <div class="color-title">Default</div>
    </div>
    <div class="col-lg-2 text-center">
        <div class="color-block primary clearfix">
            <div class="first col-lg-12">
                $brand-primary
            </div>
            <div class="second col-lg-6">
                <p>< 25%</p>
            </div>
            <div class="third col-lg-6">
                <p>< 65%</p>
            </div>
        </div>
        <div class="color-title">Primary</div>
    </div>
    <div class="col-lg-2 text-center">
        <div class="color-block success clearfix">
            <div class="first col-lg-12">
                $brand-success
            </div>
            <div class="second col-lg-6">
                <p>< 25%</p>
            </div>
            <div class="third col-lg-6">
                <p>< 65%</p>
            </div>
        </div>
        <div class="color-title">Success</div>
    </div>
    <div class="col-lg-2 text-center">
        <div class="color-block info clearfix">
            <div class="first col-lg-12">
                $brand-info
            </div>
            <div class="second col-lg-6">
                <p>< 25%</p>
            </div>
            <div class="third col-lg-6">
                <p>< 65%</p>
            </div>
        </div>
        <div class="color-title">Info</div>
    </div>
    <div class="col-lg-2 text-center">
        <div class="color-block warning clearfix">
            <div class="first col-lg-12">
                $brand-warning
            </div>
            <div class="second col-lg-6">
                <p>< 25%</p>
            </div>
            <div class="third col-lg-6">
                <p>< 65%</p>
            </div>
        </div>
        <div class="color-title">Warning</div>
    </div>
    <div class="col-lg-2 text-center">
        <div class="color-block danger clearfix">
            <div class="first col-lg-12">
                $brand-danger
            </div>
            <div class="second col-lg-6">
                <p>< 25%</p>
            </div>
            <div class="third col-lg-6">
                <p>< 65%</p>
            </div>
        </div>
        <div class="color-title">Danger</div>
    </div>
</div>
