<div class="page-header">
    <h1>Forms</h1>
</div>
<div class="row">
    <div class="col-md-6">
        <form class="form-horizontal">
            <fieldset>
                <div class="form-group">
                    <input type="email" class="form-control" id="inputEmail" placeholder="Email">
                </div>
                <div class="form-group">
                    <input type="password" class="form-control" id="inputPassword" placeholder="Password">
                </div>
                <div class="form-group">
                    <textarea class="form-control" rows="3" id="textArea"></textarea>
                </div>
                <div class="form-group">
                    <div class="radio radio-primary">
                        <label>
                            <input type="radio" name="optionsRadios" id="optionsRadios1" value="option1" checked="">
                            Option one is this
                        </label>
                    </div>
                    <div class="radio radio-primary">
                        <label>
                            <input type="radio" name="optionsRadios" id="optionsRadios2" value="option2">
                            Option two can be something else
                        </label>
                    </div>
                </div>
                <div class="form-group">
                    <select class="form-control" id="select">
                        <option>1</option>
                        <option>2</option>
                        <option>3</option>
                        <option>4</option>
                        <option>5</option>
                    </select>
                    <br>
                    <select multiple="" class="form-control">
                        <option>1</option>
                        <option>2</option>
                        <option>3</option>
                        <option>4</option>
                        <option>5</option>
                    </select>
                </div>
                <div class="form-group">
                    <button class="btn btn-default">Cancel</button>
                    <button class="btn btn-primary">Submit</button>
                </div>
            </fieldset>
        </form>
    </div>
    <div class="col-md-6">
        <h3 class="block-title">Material flow</h3>
        <div class="form-group">
            <input class="form-control floating-label" id="focusedInput" type="text" placeholder="Write something to make the label float">
        </div>

        <div class="form-group">
            <input class="form-control floating-label" id="focusedInput" type="text" placeholder="Focus to show the hint" data-hint="You should really write something here">
        </div>
        <h3 class="block-title">Validation</h3>
        <div class="form-group has-warning">
            <label class="control-label" for="inputWarning">Input warning</label>
            <input type="text" class="form-control" id="inputWarning">
        </div>

        <div class="form-group has-error">
            <label class="control-label" for="inputError">Input error</label>
            <input type="text" class="form-control" id="inputError">
        </div>

        <div class="form-group has-success">
            <label class="control-label" for="inputSuccess">Input success</label>
            <input type="text" class="form-control" id="inputSuccess">
        </div>
    </div>
</div>