<div class="page-header">
    <h1>Navs</h1>
</div>
<div class="row">
    <div class="col-lg-12">
        <h3 class="block-title">Breadcrumbs</h3>
        <div class="bs-component">
            <ul class="breadcrumb">
                <li class="active">Home</li>
            </ul>
            <ul class="breadcrumb">
                <li><a tabindex="0">Home</a></li>
                <li class="active">Library</li>
            </ul>
            <ul class="breadcrumb" style="margin-bottom: 5px;">
                <li><a tabindex="0">Home</a></li>
                <li><a tabindex="0">Library</a></li>
                <li class="active">Data</li>
            </ul>
        </div>
    </div>
    <div class="col-lg-6">
        <h3 class="block-title">Tabs</h3>
        <ul class="nav nav-tabs" role="tablist">
            <li role="presentation" class="active"><a href="#hhome-tab" data-toggle="tab">Home</a></li>
            <li role="presentation"><a href="#help" data-toggle="tab">Help</a></li>
            <li role="presentation" class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
                    Dropdown <span class="caret"></span>
                </a>
                <ul class="dropdown-menu">
                    <li><a href="#action" data-toggle="tab">Action</a></li>
                    <li class="divider"></li>
                    <li><a href="#action2" data-toggle="tab">Another action</a></li>
                </ul>
            </li>
        </ul>
        <div class="tab-content">
            <div class="tab-pane fade active in" id="home-tab">
                <p><b>Home tab</b> content. Lorem ipsum is a pseudo-Latin text used in web design, typography, layout, and printing in place of English to emphasise design elements over content. It's also called placeholder (or filler) text. It's a convenient tool for mock-ups. It helps to outline the visual elements of a document or presentation, eg typography, font, or layout.</p>
            </div>
            <div class="tab-pane fade" id="help">
                <p><b>Help tab</b> content. In a professional context it often happens that private or corporate clients corder a publication to be made and presented with the actual content still not being ready. Think of a news blog that's filled with content hourly on the day of going live.</p>
            </div>
            <div class="tab-pane fade" id="action">
                <p><b>Dropdown | Action</b> content. Most of its text is made up from sections 1.10.32–3 of Cicero's De finibus bonorum et malorum (On the Boundaries of Goods and Evils; finibus may also be translated as purposes). Neque porro quisquam est qui dolorem ipsum quia dolor sit amet.</p>
            </div>
            <div class="tab-pane fade" id="action2">
                <p><b>Dropdown | Another action</b> content. Cicero famously orated against his political opponent Lucius Sergius Catilina. Occasionally the first Oration against Catiline is taken for type specimens: Quo usque tandem abutere, Catilina, patientia nostra? Quam diu etiam furor iste tuus nos eludet?</p>
            </div>
        </div>
    </div>
    <div class="col-lg-6">
        <h3 class="block-title">Pills</h3>
        <ul class="nav nav-pills" role="tablist">
            <li role="presentation" class="active"><a tabindex="0">Home</a></li>
            <li role="presentation"><a tabindex="0">Help</a></li>
            <li role="presentation" class="disabled"><a tabindex="0">Disabled</a></li>
            <li role="presentation" class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" data-target="#">
                    Dropdown <span class="caret"></span>
                </a>
                <ul class="dropdown-menu">
                    <li><a tabindex="0">Action</a></li>
                    <li><a tabindex="0">Another action</a></li>
                    <li><a tabindex="0">Something else here</a></li>
                    <li class="divider"></li>
                    <li><a tabindex="0">Separated link</a></li>
                </ul>
            </li>
        </ul>
    </div>
</div>
