<div class="page-header">
	<h1>Page navigation</h1>
</div>
<div class="row">
	<div class="col-lg-6">
		<h3 class="block-title">Pagination</h3>
		<nav>
		  <ul class="pagination pagination-lg">
		    <li>
		      <a tabindex="0" aria-label="Previous">
		        <span aria-hidden="true">&laquo;</span>
		      </a>
		    </li>
		    <li><a tabindex="0">1</a></li>
		    <li><a tabindex="0">2</a></li>
		    <li><a tabindex="0">3</a></li>
		    <li><a tabindex="0">4</a></li>
		    <li><a tabindex="0">5</a></li>
		    <li>
		      <a tabindex="0" aria-label="Next">
		        <span aria-hidden="true">&raquo;</span>
		      </a>
		    </li>
		  </ul>
		</nav>
		<nav>
		  <ul class="pagination">
		    <li>
		      <a tabindex="0" aria-label="Previous">
		        <span aria-hidden="true">&laquo;</span>
		      </a>
		    </li>
		    <li><a tabindex="0">1</a></li>
		    <li><a tabindex="0">2</a></li>
		    <li><a tabindex="0">3</a></li>
		    <li><a tabindex="0">4</a></li>
		    <li><a tabindex="0">5</a></li>
		    <li>
		      <a tabindex="0" aria-label="Next">
		        <span aria-hidden="true">&raquo;</span>
		      </a>
		    </li>
		  </ul>
		</nav>
		<nav>
		  <ul class="pagination pagination-sm">
		    <li>
		      <a tabindex="0" aria-label="Previous">
		        <span aria-hidden="true">&laquo;</span>
		      </a>
		    </li>
		    <li><a tabindex="0">1</a></li>
		    <li><a tabindex="0">2</a></li>
		    <li><a tabindex="0">3</a></li>
		    <li><a tabindex="0">4</a></li>
		    <li><a tabindex="0">5</a></li>
		    <li>
		      <a tabindex="0" aria-label="Next">
		        <span aria-hidden="true">&raquo;</span>
		      </a>
		    </li>
		  </ul>
		</nav>
	</div>
	<div class="col-lg-6">
		<h3 class="block-title">Pager</h3>
		<nav>
		  <ul class="pager">
		    <li><a tabindex="0">Previous</a></li>
		    <li><a tabindex="0">Next</a></li>
		  </ul>
		</nav>
		<nav>
		  <ul class="pager">
		    <li class="previous"><a tabindex="0"><span aria-hidden="true">&larr;</span> Older</a></li>
		    <li class="next"><a tabindex="0">Newer <span aria-hidden="true">&rarr;</span></a></li>
		  </ul>
		</nav>
	</div>
</div>
