<div class="page-header">
	<h1>Typography</h1>
</div>

<div class="row">
	<div class="col-lg-4">
		<h3 class="block-title">Headings</h3>
		<div class="sizing"><h1>Heading 1</h1></div>
		<div class="sizing"><h2>Heading 2</h2></div>
		<div class="sizing"><h3>Heading 3</h3></div>
		<div class="sizing"><h4>Heading 4</h4></div>
		<div class="sizing"><h5>Heading 5</h5></div>
		<div class="sizing"><h6>Heading 6</h6></div>
	</div>
	<div class="col-lg-8">
		<h3 class="block-title">Example body text</h3>
		<p>Most of its text is made up from sections 1.10.32–3 of <a tabindex="0">link example</a>. Neque porro quisquam est qui dolorem ipsum quia dolor sit amet.</p>
		<p><small>This line of text is meant to be treated as fine print.</small></p>
		<p>The following snippet of text is <strong>rendered as bold text</strong>.</p>
		<p>The following snippet of text is <em>rendered as italicized text</em>.</p>
		<p>An abbreviation of the word attribute is <abbr title="attribute">attr</abbr>.</p>
	</div>
</div>

<h3 class="block-title">Quotes</h3>
<div class="row">
	<div class="col-lg-6">
		<blockquote>
		    <p>It helps to outline the visual elements of a document or presentation, eg typography, font, or layout.</p>
		    <small>Someone famous in <cite title="Source Title">Source Title</cite></small>
		</blockquote>
	</div>
	<div class="col-lg-6">
		<blockquote class="pull-right">
		    <p>It helps to outline the visual elements of a document or presentation, eg typography, font, or layout.</p>
		    <small>Someone famous in <cite title="Source Title">Source Title</cite></small>
		</blockquote>
	</div>
</div>